/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*
 Wyncode Colors

 wyncode-blue: #03d1fc
 wyncode-red: #fa696f
 wyncode-green: #c5d38d
 wyncode-black: #4d4d4d
 wyncode-grey: #888
 wyncode-light-grey: #eee
 wyncode-yellow: #ffcc66
 */

body {
	padding-top: 90px;
	font-family: 'Rajdhani', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

h1, h2 {
	text-align: center;
	font-family: 'Rajdhani', Helvetica, Arial, sans-serif;
	margin: 20px 0;
}

h1 {
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #03d1fc;
	margin: 15px 5px;
}

.nav-pills a{
	color: #4d4d4d;
	margin: 15px 5px;
}

button#modal-button {
  padding: 12px 15px;
  font-size: large;
  margin: 15px;
}

#logo {
	font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #03d1fc;
  text-decoration: none;
}

.thumbnail {
	height: 265px;
}

.thumbnail img {
	max-height: 125px;
/*  max-width: 100px;*/
}

.btn-primary {
	background-color: #03d1fc;
	border: none;
}

.btn-primary:hover {
	background-color: #03d1fc;
	border: none;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#new_user {
	margin: 30px;
}

/* Profiles Index Page*/
.thumbnail > img {
	padding: 20px;
}

/* Profiles */
.social {
	padding: 15px;
	color: #4d4d4d;
}

#notice {
	color: #c5d38d;
	text-align: center;
}
/* Footer */

.footer {
	height: 100px;
	text-align: center;
	color: #fff;
	background-color: #333;
}

.footer a {
	color: #ffcc66;
	text-decoration: none;
}

.modal-backdrop {
    z-index: 1020;
}

#profile-toggle {
	margin-bottom: 30px;
	text-align: center;
	background-color: #03d1fc;
}


