<div class="footer">
<ul class="list-unstyled">
	<li><%= link_to 'Wyncode', 'http://wyncode.co', :target => "_blank" %></li> 
	<li>Begotten by: Kyra Fillmore, Taryn Keim, Kevin Ridge</li>
	<li>Copyright &copy; 1875 </li>
</ul>
</div>